train:
  epochs: 300
  accelerator: gpu
  number_of_checkpoints: 3
  devices: 1
  patience: 50
  run_name: test0
  experiment_name: alignn_basic
  version: '1.0'

data:
  # general data specs
  root_dir: data/test #data/cgcnn_junwen_oct_6_kdist    # cgcnn_data_mp_metal_nonmetal    
  model_name: alignn
  id_prop_csv: id_prop.csv
  qe_input_files: null #qe_input_files
  train_ratio: 0.8
  val_ratio: 0.1
  test_ratio: 0.1
  cal_ratio: 0.1
  calibration: true
  lmdb_exist: false
  lmdb_test_name: test_data.lmdb
  lmdb_train_name: train_data.lmdb
  lmdb_val_name: val_data.lmdb
  lmdb_cal_name: cal_data.lmdb
  batch_size: 4
  graph_params:
    radius: 10.0
    max_neighbors: 12
    graph_type: 'radius' # 'radius', 'crystalnn'
  pin_memory: false
  random_seed: 42
  stratify: false
  scale_y: false
  # compound features specs
  compound_features:
    data_file: null
    additional_compound_features: ['composition_features','structure_features','lattice_features','cgcnn_features'] # ['composition_features'] 
    composition_features:
      ElementProperty: true
      Stoichiometry: true
      ValenceOrbital: true
      IonProperty: false
      AtomicOrbitals: false
    structure_features:
      GlobalSymmetryFeatures: true
      DensityFeatures: true
    jarvis_features: false
    soap_features: false
    soap_params: 
      r_cut: 10.0
      n_max: 8
      l_max: 6
      sigma: 1.0
    lattice_features: true
    cgcnn_features: true
    checkpoint_path: trained_models/cgcnn/is_metal_nh3/is_metal.ckpt
    matscibert_features: false
    feat_lmdb_exist: false
    feature_file: null
  # atomic features specs
  atomic_features:
    atom_feature_strategy:
      atom_feature_file: embeddings/atom_init_with_sssp_cutoffs.json # cgcnn_original
      soap_atomic: false
    soap_params: 
      r_cut: 10.0
      n_max: 8
      l_max: 6
      sigma: 1.0

model:
  name: alignn
  alignn_layers: 4
  gcn_layers: 4
  radius: 10.0
  atom_input_features: 92
  edge_input_features: 40
  triplet_input_features: 20
  hidden_features: 64
  classification: false
  num_classes: 2
  robust_regression: false
  quantile_regression: true
  num_quantiles: 1 # 1 for QuantileLoss, 2 for IntervalScoreLoss
  additional_compound_features: true
  add_feat_len: 64

loss:
  name: QuantileLoss # RobustL2Loss, RobustL1Loss, QuantileLoss, CrossEntropyLoss, HuberLoss, L1Loss, MSELoss, StudentTLoss, IntervalScoreLoss
  quantile: 0.5 # for quantile regression
  student_nu: 5

optim:
  weight_decay: 0.0001  # 1e-5
  learning_rate: 0.001
  weights: false
  optimizer: adamw
  momentum: 0.9
  scheduler: onecycle
  swa: false
  swa_lr: 0.005
  swa_start: 50

prediction:
  predict_for_validation: true
